html, body {
    overflow: hidden;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

#renderCanvas {
    width: 80%;
    height: 100%;
    touch-action: none;
    float: left;
}

#graph {
    width: 20%;
    height: inherit;
    margin-left: auto;
    padding: 5px;
    text-align: center;
}

.menu-section {
    height: 7%;
}

.graph-section {
    width: auto;
    height: 23%;
}

.lang-section {
    padding: 10px 0 10px 0;
}
.senzor-image{
height: 140px;
    width: auto;
    vertical-align: top;
}
#car{
    min-height: 200px;
}

#front-sensor, #rear-sensor {
    width: 39px;
    height: 25px;
    margin-left: 45%;}
#left-front-sensor, #right-front-sensor{
    width: 25px;
    height:40px;
    display: inline-block;
}
#left-rear-sensor, #right-rear-sensor{
    width: 25px;
    height:40px;
    display: inline-block;
    vertical-align: bottom;
    margin-left: -8%;
}